:root {
    --primary: #BBDAE7;
    --secondary: #18AAE9;
    --dark: #114F6A;
    --dark-dark: #092430;
    --light-dark: #197AA4;
    --border-radius: 5px;
}
* {
    box-sizing: border-box;
    font-family: 'Arimo':
}
body{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "Arimo";
}
header {
    width: 100%;
    justify-content: right;
    background-color: var(--dark-dark);
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
header h1 {
    color: var(--primary);
    margin-left: 95px;
    font-size: 60px;
    display: flex;
    flex-wrap: display;
    line-height: 3.0;
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
}
main {
    margin: 22px auto;
    width: 94%
}
.justify-space-between {
    justify-content: space-between;
}
#card1 {
    margin: 0 0 25px 0;
    border: 2px solid var(--dark-dark);
}
.card-header {
    margin: 5px;
    color: var(--dark-dark);
    padding: 5px;
    border-radius: 0;
    margin: 0 0 25px 0;
    /*border: 1px solid var(--dark-dark);*/
}
#cityName {
    margin-left: 10px;
    width: 50%;

}
#submitBtn {
    width: 97%;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: var(--primary);
    background-color: var(--dark);
    font-size: 20px;
}

#city-list-container {

}
#today-weather {
 
}
#city-today {
    color: whitesmoke;
}
.row {
    background-color: var(--light-dark);
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 10px;
    border: 2px solid var(--dark-dark);
}
#temp-today, #wind-today, #humidity-today {
    color: var(--dark-dark);
    font-size: 20px;
    font-weight: 575;
}
h3 {
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 10px; 
}
#forecast-row {

}
section {
    border-radius: 5px;
    background-color: whitesmoke; 
    border-style: line;
}
ul {
    margin-right: 30px;
}


@media (max-width: 600px){
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

