:root {
    --primary: #BBDAE7;
    --secondary: #18AAE9;
    --dark: #114F6A;
    --dark-dark: #092430;
    --light-dark: #197AA4;
    --border-radius: 5px;
}
* {
    box-sizing: border-box;
}
body{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "Arimo";
}
header {
    justify-content: right;
    background-color: var(--dark-dark);
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
.title {
    color: var(--primary);
    margin-left: 95px;
    font-size: 60px;
}
h1 {
    font-size: 36px;
    color: var(--dark);
    margin: 0;
    line-height: 3.0;
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
}
main {
    margin: 22px auto;
    width: 94%
}
.justify-space-between {
    justify-content: space-between;
}
#card1 {
    margin: 0 0 25px 0;
    border: 2px solid var(--dark-dark);
}
.card-header {
    margin: 5px;
    color: var(--dark-dark);
    padding: 5px;
    border-radius: 0,
    margin: 0 0 25px 0;
    /*border: 1px solid var(--dark-dark);*/
}
.card-city {
    padding: 5px;
}
.form-label, .city-input {
    display: block;
    margin: 10px 10px 10px 20px;
}
.city-input {
    width: 95%;
    font-size: 28px;
}
.btn {
    width: 100%;
    display: block;
    margin: 10px 0;
    color: var(--primary);
    background-color: var(--dark);
}
.subtitle {
    margin-left: 30px;
}
#city-list-container {

}

#card2 {
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 10px;
    border: 2px solid var(--dark-dark);
}
#card3 {
    margin-top: 140px;
    margin-left: 30px;
    padding: 10px;
    border: 2px solid var(--dark-dark);
}

#five-day-boxes {

}

@media (max-width: 600px){
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

